<div class="mt-4">
    <div class="container">
        <form method="get" action="/news">
        <div class="form-group">
            <label for="search-ip">Từ khóa...</label>
            <input
                type="text"
                class="form-control"
                id="search-ip"
                placeholder="Nhập từ khóa"
                name="q"
                />
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
    </div>
</div>